<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoPoco" version="1.0.0.0" targetFramework="net45" />
  <package id="AutoPoco.Extensions" version="1.0.0.0" targetFramework="net45" />
  <package id="AutoPocoBeta" version="1.2.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="EntityFramework.zh-Hant" version="6.1.1" targetFramework="net45" />
  <package id="libphonenumber-csharp" version="7.0.9" targetFramework="net45" />
</packages>