<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="GMailUserName" value="skt90u@gmail.com" />
    <add key="GMailPassword" value="!QAZ@WSX" />
    <add key="InfobipUserName" value="ENVOTIONS" />
    <add key="InfobipPassword" value="Envo6183" />
    <add key="DefaultAdminUsername" value="Admin" />
    <add key="DefaultAdminPassword" value="123456" />
    <add key="DefaultAdminSmsBalance" value="1000000000000.00" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--Publish-->
    <!--http://kevintsengtw.blogspot.tw/2014/08/webconfig.html-->
    <add name="ApplicationDbContext"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\v11.0;Database=EFunTechSms;Integrated Security=True"/>
    <!--app.config-->
    <!--LocalDb-->
    <!--<add name="ApplicationDbContext"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\v11.0;Database=EFunTechSms;Integrated Security=True"/>-->
    <!--Localhost-->
    <!--<add name="ApplicationDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=EFunTechSms;Integrated Security=True;MultipleActiveResultSets=True" />-->
    <!--Azure-->
    <!--<add name="ApplicationDbContext"
         providerName="System.Data.SqlClient"
         connectionString="Server=tcp:amfw8plknj.database.windows.net,1433;Database=EFunTechSms;User ID=dino.chen@amfw8plknj;Password=P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>