


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <meta name="KeyWords" content="資餘科技,簡訊發送平台">
    <meta name="description" content="資餘科技 - 簡訊發送平台">
    <title>資餘科技 - 簡訊發送平台</title>

    <link href="/Scripts/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/AngularJS-Toaster/toaster.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/angular-block-ui/dist/angular-block-ui.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/angular-dialog-service/dist/dialogs.css" rel="stylesheet" />
    <link href="/Content/spinkit.css" rel="stylesheet" />
    <link href="/Content/animate.css" rel="stylesheet" />


    <link href="/Scripts/bower_components/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <link href="/Content/in.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
</head>
<body ng-cloak>
    <toaster-container></toaster-container>


    <header>
        <table width="1115" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <a href="/Home"><img class="logo"></a>
                    </td>
                    <td width="500" align="right" valign="bottom">


                        <form action="/Account/LogOff" class="navbar-right" id="logoutForm" method="post">
                            <input name="__RequestVerificationToken" type="hidden" value="60wB1kuc2zOc46GHiePmuCda_OouAZLUZfHVjElz_bgvhNRVcKjSi7FSTglK-KgPOsZpEALJnp3L4OqcgN84StWsL7-AiocOiZkltRqUip35od85mk9h2hGBXo15pZyjNsJci9fzDiMfByCt3bXZ2w2" />    <span class="font-red">Hi Administrator</span>
                            <span>點數：</span>
                            <span class="font-red" id="SmsBalance">999999999996.0</span>
                            <span> </span>
                            <a href="javascript:window.open('http://www.google.com', '_blank')">(儲值)</a>
                            <span> </span>
                            <a href="javascript:window.open('http://www.google.com', '_blank')" class="a">我要儲值</a>
                            <span> | </span>
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="a">登出</a>
                        </form>
                </tr>
            </tbody>
        </table>
    </header>





    <table width="1115" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td height="80" class="menu-bg">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="padding-top:20px; padding-left:20px">
                                    <a href="/SendMessage" class="menu">簡訊發送</a>
                                    <a href="/SendParamMessage" class="menu">參數簡訊發送</a>
                                    <a href="/SearchMemberSend" class="menu">發送查詢</a>
                                    <a href="/ContactManager" class="menu-active">聯絡人管理</a>
                                    <a href="/SMS_Setting" class="menu">系統設定</a>
                                    <a href="/RecurringSMS" class="menu">預約/週期簡訊維護</a>
                                    <a href="/DepartmentManager" class="menu">子帳號管理</a>
                                    <a href="/DepartmentPointManager" class="menu">子帳號點數管理</a>
                                    <a href="/SectorStatistics" class="menu">報表管理</a>


                                </td>
                                <td width="115" align="center"><a href="#" class="font-black">其他功能</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container body-content">


        <style>
            .panel .search-area {
                padding: 0px;
                margin: 0px;
            }
        </style>

        <div class="box-heading-top5">
            <img class="icon_people icon"><span class="font-h3">聯絡人管理</span>
        </div>
        <div class="box-content-top5">
            <div ng-controller="ContactManager">
                <tabset justified="false" ng-cloak>
                    <tab heading="所有聯絡人" ng-click="onSelect('AllContact')">
                        <tab-heading><div><img src="/Content/images/icon/icon_chat.png" width="25" class="absmiddle" />所有聯絡人</div></tab-heading>
                        <div ng-controller="AllContact">
                            <div class="search-area">
                                <div class="input-group add-on">
                                    <input type="text" class="form-control" ng-model="searchText" placeholder="關鍵字搜尋" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
                                        <button class="btn btn-info" ng-click="editRow(null)">新增</button>
                                        <button class="btn btn-danger" ng-click="deleteSelection()">刪除</button>
                                        <button class="btn btn-warning" ng-click="import()">匯入</button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid"
                                 ui-grid="gridOptions"
                                 ui-grid-selection
                                 ui-grid-pagination
                                 ui-grid-resize-columns
                                 ui-grid-move-columns
                                 ui-grid-pinning
                                 ui-grid-exporter
                                 ui-grid-auto-resize>
                                <div class="watermark" ng-show="!gridOptions.data.length">查無資料</div>
                            </div>
                        </div>
                        <script type="text/ng-template" id="template/modal/uploadContact.html">
                            <div id="uploadBlacklist">
                                <div class="modal-header">
                                    <h3 class="modal-title">
                                        <span><img src="/Content/images/administrative-docs.png" /></span>
                                        從檔案匯入聯絡人
                                    </h3>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div ng-class="!uploading ? 'fileUpload' : 'fileUploading'" onclick="angular.element(this).scope().selectFile()"></div>
                                                <input type="file" class="hide" onchange="angular.element(this).scope().uploadFile()" />
                                            </div>
                                            <div class="col-md-6">
                                                可上傳格式為：
                                                <ol>
                                                    <li>Excel格式檔案(*.xlsx)</li>
                                                    <li>多國語言格式( *.csv)</li>
                                                    <li>將以上檔案壓縮(*.zip)</li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span><img alt="" class="info" width="30" height="30"></span>
                                                <span><a href="/Download/通訊錄匯入範例檔(新版).xlsx">Excel上傳說明</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="btn-group">
                                        <button class="btn btn-warning" ng-click="cancel()">取消</button>
                                    </div>
                                </div>
                            </div>
                        </script>
                    </tab>
                    <tab heading="常用聯絡人" ng-click="onSelect('CommonContact')">
                        <tab-heading><div><img src="/Content/images/icon/star.png" width="25" class="absmiddle" />常用聯絡人</div></tab-heading>

                        <div ng-controller="CommonContact">
                            <div class="search-area">
                                <div class="input-group add-on">
                                    <input type="text" class="form-control" ng-model="searchText" placeholder="關鍵字搜尋" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
                                        <button class="btn btn-info" ng-click="editRow(null)">新增</button>
                                        <button class="btn btn-danger" ng-click="deleteSelection()">刪除</button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid"
                                 ui-grid="gridOptions"
                                 ui-grid-selection
                                 ui-grid-pagination
                                 ui-grid-resize-columns
                                 ui-grid-move-columns
                                 ui-grid-pinning
                                 ui-grid-exporter
                                 ui-grid-auto-resize>
                                <div class="watermark" ng-show="!gridOptions.data.length">查無資料</div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="編輯群組" ng-click="onSelect('ContactGroup')">
                        <tab-heading><div><img src="/Content/images/icon/icno_write.png" width="25" class="absmiddle" />編輯群組</div></tab-heading>
                        <div ng-controller="ContactGroup">
                            <style>
                                div[ng-controller=ContactGroup] .panel-heading h3 {
                                    padding-top: 7.5px;
                                }

                                div[ng-controller=ContactGroup] .search-area {
                                    margin: 0px;
                                }

                                div[ng-controller=ContactGroup] .row .panel-body {
                                    padding: 0px;
                                }
                            </style>
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title pull-left">
                                        所有群組
                                    </h3>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-primary" ng-click="ContactManager.editRow(null)">新增聯絡人</button>
                                        <button class="btn btn-info" ng-click="GroupManager.editRow(null)">新增群組</button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div ng-show="!GroupManager.dataResult.length">查無資料</div>
                                    <chips ng-model="GroupManager.dataResult" multi-select="false" chip-select-change="chipSelectChange(selectedItems)">
                                        <chip-content>
                                            <span>
                                                <strong>{{$chip.Name}}</strong>
                                            </span>
                                        </chip-content>
                                        <chip-action>
                                            <button ng-show="$chip.Editable" ng-click="chips.appScope.GroupManager.editRow($chip)"><i class="glyphicon glyphicon-pencil"></i></button>
                                            <button ng-show="$chip.Deletable" ng-click="chips.appScope.GroupManager.deleteRow($chip)"><i class="glyphicon glyphicon-remove"></i></button>
                                        </chip-action>
                                    </chips>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <h3 class="panel-title pull-left">
                                                編輯群組: {{GroupManager.selectedGroup.Name}}
                                            </h3>
                                            <div class="search-area pull-right">
                                                <div class="input-group add-on">
                                                    <input type="text" class="form-control" ng-model="ContactInGroupManager.searchText" placeholder="關鍵字搜尋" />
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" ng-click="ContactInGroupManager.search()"><i class="glyphicon glyphicon-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="grid"
                                                 ui-grid="ContactInGroupManager.gridOptions"
                                                 ui-grid-pagination
                                                 ui-grid-resize-columns
                                                 ui-grid-move-columns
                                                 ui-grid-pinning
                                                 ui-grid-exporter
                                                 ui-grid-auto-resize>
                                                <div class="watermark" ng-show="!ContactInGroupManager.gridOptions.data.length">查無資料</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <h3 class="panel-title pull-left">
                                                所有聯絡人
                                            </h3>
                                            <div class="search-area pull-right">
                                                <div class="input-group add-on">
                                                    <input type="text" class="form-control" ng-model="ContactNotInGroupManager.searchText" placeholder="關鍵字搜尋" />
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" ng-click="ContactNotInGroupManager.search()"><i class="glyphicon glyphicon-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="grid"
                                                 ui-grid="ContactNotInGroupManager.gridOptions"
                                                 ui-grid-pagination
                                                 ui-grid-resize-columns
                                                 ui-grid-move-columns
                                                 ui-grid-pinning
                                                 ui-grid-exporter
                                                 ui-grid-auto-resize>
                                                <div class="watermark" ng-show="!ContactNotInGroupManager.gridOptions.data.length">查無資料</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="分享群組聯絡人" ng-click="onSelect('ShareContact')">
                        <tab-heading><div><img src="/Content/images/icon/icno_users.png" width="25" class="absmiddle" />分享群組聯絡人</div></tab-heading>

                        <div ng-controller="ShareContact">
                            <style>
                                div[ng-controller=ShareContact] .panel-heading h3 {
                                    padding-top: 7.5px;
                                }

                                div[ng-controller=ShareContact] .search-area {
                                    margin: 0px;
                                }

                                div[ng-controller=ShareContact] .row .panel-body {
                                    padding: 0px;
                                }
                            </style>
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title pull-left">
                                        所有群組
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <div ng-show="!GroupManager.dataResult.length">查無資料</div>
                                    <chips ng-model="GroupManager.dataResult" multi-select="false" chip-select-change="chipSelectChange(selectedItems)">
                                        <chip-content>
                                            <span>
                                                <strong>{{$chip.Name}}</strong>
                                            </span>
                                        </chip-content>
                                        <chip-action>
                                            <button ng-show="$chip.Editable" ng-click="chips.appScope.GroupManager.editRow($chip)"><i class="glyphicon glyphicon-pencil"></i></button>
                                            <button ng-show="$chip.Deletable" ng-click="chips.appScope.GroupManager.deleteRow($chip)"><i class="glyphicon glyphicon-remove"></i></button>
                                        </chip-action>
                                    </chips>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <h3 class="panel-title pull-left">
                                                設定分享群組資料: {{GroupManager.selectedGroup.Name || '請先選擇上方群組'}}
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            <tabset justified="false">
                                                <tab heading="依公司部門選擇">
                                                    <div>
                                                        <label>部門</label>
                                                        <select style="width:100%;"
                                                                ng-options="department.name for department in UserNotInSharedGroupManager.departments"
                                                                ng-model="UserNotInSharedGroupManager.selectedDepartment"
                                                                ng-change="UserNotInSharedGroupManager.onChangeDepartment()"></select>
                                                    </div>
                                                    <div>
                                                        <label>成員</label>
                                                        <select size="100" style="max-height:235px;width:100%;"
                                                                multiple="multiple"
                                                                ng-options="departmentUser.FullName for departmentUser in UserNotInSharedGroupManager.departmentUsers"
                                                                ng-model="UserNotInSharedGroupManager.selectedDepartmentUsers"></select>
                                                    </div>
                                                    <div class="clearfix">
                                                        <div class="btn-group pull-right" style="padding-right:10px;">
                                                            <button class="btn btn-warning" ng-click="createShareContactByShareList()">確定</button>
                                                        </div>
                                                    </div>
                                                </tab>
                                                <tab heading="手動輸入分享帳號">
                                                    <textarea style="max-height:305px;width:100%;"
                                                              placeholder="手動輸入分享帳號 ，多筆請用逗號分隔。"
                                                              ng-model="UserNotInSharedGroupManager.manualShareList"
                                                              cols="38" rows="100"></textarea>
                                                    <div class="clearfix">
                                                        <div class="btn-group pull-right" style="padding-right:10px; padding-top:5px;">
                                                            <button class="btn btn-warning" ng-click="createShareContactByManualShareList()">確定</button>
                                                        </div>
                                                    </div>
                                                </tab>
                                            </tabset>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <h3 class="panel-title pull-left">
                                                分享帳號
                                            </h3>
                                            <div class="search-area pull-right">
                                                <div class="input-group add-on">
                                                    <input type="text" class="form-control" ng-model="UserInSharedGroupManager.searchText" placeholder="關鍵字搜尋" />
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" ng-click="UserInSharedGroupManager.search()"><i class="glyphicon glyphicon-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="grid"
                                                 ui-grid="UserInSharedGroupManager.gridOptions"
                                                 ui-grid-pagination
                                                 ui-grid-resize-columns
                                                 ui-grid-move-columns
                                                 ui-grid-pinning
                                                 ui-grid-exporter
                                                 ui-grid-auto-resize>
                                                <div class="watermark" ng-show="!UserInSharedGroupManager.gridOptions.data.length">查無資料</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="黑名單管理" ng-click="onSelect('Blacklist')">
                        <tab-heading><div><img src="/Content/images/icon/lock.png" width="25" class="absmiddle" />黑名單管理</div></tab-heading>

                        <div ng-controller="Blacklist">
                            <div class="search-area">
                                <div class="input-group add-on">
                                    <input type="text" class="form-control" ng-model="searchText" placeholder="關鍵字搜尋" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
                                        <button class="btn btn-info" ng-click="editRow(null)">新增</button>
                                        <button class="btn btn-danger" ng-click="deleteSelection()">刪除</button>
                                        <button class="btn btn-warning" ng-click="import()">匯入</button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid"
                                 ui-grid="gridOptions"
                                 ui-grid-selection
                                 ui-grid-pagination
                                 ui-grid-resize-columns
                                 ui-grid-move-columns
                                 ui-grid-pinning
                                 ui-grid-exporter
                                 ui-grid-auto-resize>
                                <div class="watermark" ng-show="!gridOptions.data.length">查無資料</div>
                            </div>
                        </div>
                        <script type="text/ng-template" id="template/modal/uploadBlacklist.html">
                            <div id="uploadBlacklist">
                                <div class="modal-header">
                                    <h3 class="modal-title">
                                        <span><img src="/Content/images/administrative-docs.png" /></span>
                                        從檔案匯入黑名單
                                    </h3>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div ng-class="!uploading ? 'fileUpload' : 'fileUploading'" onclick="angular.element(this).scope().selectFile()"></div>
                                                <input type="file" class="hide" onchange="angular.element(this).scope().uploadFile()" />
                                            </div>
                                            <div class="col-md-6">
                                                可上傳格式為：
                                                <ol>
                                                    <li>Excel格式檔案(*.xlsx)</li>
                                                    <li>多國語言格式( *.csv)</li>
                                                    <li>將以上檔案壓縮(*.zip)</li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span><img alt="" class="info" width="30" height="30"></span>
                                                <span><a href="/Download/黑名單匯入範例檔.xlsx">Excel上傳說明</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="btn-group">
                                        <button class="btn btn-warning" ng-click="cancel()">取消</button>
                                    </div>
                                </div>
                            </div>
                        </script>
                    </tab>
                </tabset>
            </div>
        </div>




        <footer style="margin-top:30px;">
            <table width="1117" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="22"><img class="box3_left" /></td>
                    <td bgcolor="#eaeaea">
                        <table width="93%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="135"><img class="logo_down" alt="" /></td>
                                <td>
                                    專屬簡訊儲值帳號<br />
                                    808玉山銀行台北分行<br />
                                    轉入帳號：9900123412341234
                                    <a href="#" class="font-h2">如何使用專屬簡訊儲值帳號</a>
                                </td>
                                <td width="470">
                                    市內客服電話請撥：0800-618688 ∣ 手機客服電話請撥 02-8913-1559轉166<br />
                                    新北市新店區北新路三段207-3號11樓(台北矽谷大樓)<br />
                                    Copyright c 2015 餘資科技股份有限公司版權所有，轉載必究
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="28"><img class="box3_right" /></td>
                </tr>
            </table>
        </footer>
    </div>

    <script src="/Scripts/bower_components/jquery-legacy/dist/jquery.js"></script>
    <script src="/Scripts/bower_components/underscore/underscore.js"></script>
    <script src="/Scripts/bower_components/moment/moment.js"></script>
    <script src="/Scripts/bower_components/moment-timezone/builds/moment-timezone-with-data.js"></script>
    <script src="/Scripts/bower_components/angular/angular.js"></script>
    <script src="/Scripts/bower_components/angular-i18n/angular-locale_zh-tw.js"></script>
    <script src="/Scripts/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/Scripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/Scripts/bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="/Scripts/bower_components/angular-underscore/angular-underscore.js"></script>
    <script src="/Scripts/bower_components/tv4/tv4.js"></script>
    <script src="/Scripts/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/Scripts/bower_components/objectpath/lib/ObjectPath.js"></script>
    <script src="/Scripts/bower_components/angular-schema-form/dist/schema-form.js"></script>
    <script src="/Scripts/bower_components/angular-schema-form/dist/bootstrap-decorator.js"></script>
    <script src="/Scripts/bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="/Scripts/bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="/Scripts/bower_components/angular-translate/angular-translate.js"></script>
    <script src="/Scripts/bower_components/angular-dialog-service/dist/dialogs-default-translations.js"></script>
    <script src="/Scripts/bower_components/angular-dialog-service/dist/dialogs.js"></script>
    <script src="/Scripts/Application/app.js"></script>
    <script src="/Scripts/Application/Constants/Converter.js"></script>
    <script src="/Scripts/Application/Constants/Enum.js"></script>
    <script src="/Scripts/Application/Constants/PhoneAreaCode.js"></script>
    <script src="/Scripts/Application/Configs/configBlockUI.js"></script>
    <script src="/Scripts/Application/Configs/configDialogs.js"></script>
    <script src="/Scripts/Application/Filters/EnumFilter.js"></script>
    <script src="/Scripts/Application/Filters/SelectedMembersFilter.js"></script>
    <script src="/Scripts/Application/Filters/UtcToLocalTimeFilter.js"></script>
    <script src="/Scripts/Application/Directives/Chips.js"></script>
    <script src="/Scripts/Application/Services/CommonContactManager.js"></script>
    <script src="/Scripts/Application/Services/CommonMessageManager.js"></script>
    <script src="/Scripts/Application/Services/CompanyDeaprtmentManager.js"></script>
    <script src="/Scripts/Application/Services/ContactOfGroupManager.js"></script>
    <script src="/Scripts/Application/Services/CurrentUserManager.js"></script>
    <script src="/Scripts/Application/Services/FileUploadManager.js"></script>
    <script src="/Scripts/Application/Services/ManualInputManager.js"></script>
    <script src="/Scripts/Application/Services/MemberSendMessageHistoryManager.js"></script>
    <script src="/Scripts/Application/Services/MemberSendMessageStatisticManager.js"></script>
    <script src="/Scripts/Application/Services/SectorSendMessageHistoryManager.js"></script>
    <script src="/Scripts/Application/Services/SectorSendMessageStatisticManager.js"></script>
    <script src="/Scripts/Application/Services/SendMessageHistoryManager.js"></script>
    <script src="/Scripts/Application/Services/SignatureManager.js"></script>
    <script src="/Scripts/Application/Factories/CrudApi.js"></script>
    <script src="/Scripts/Application/Factories/DateUtil.js"></script>
    <script src="/Scripts/Application/Factories/FileManagerApi.js"></script>
    <script src="/Scripts/Application/Factories/GlobalSettings.js"></script>
    <script src="/Scripts/Application/Factories/LookupApi.js"></script>
    <script src="/Scripts/Application/Factories/MessageCostInfo.js"></script>
    <script src="/Scripts/Application/Factories/NumberUtil.js"></script>
    <script src="/Scripts/Application/Factories/RegularExpressionHelper.js"></script>
    <script src="/Scripts/Application/Factories/SchemaFormCache.js"></script>
    <script src="/Scripts/Application/Factories/SchemaFormFactory.js"></script>
    <script src="/Scripts/Application/Factories/SchemaFormHelper.js"></script>
    <script src="/Scripts/Application/Factories/SelectUtil.js"></script>
    <script src="/Scripts/Application/Factories/TimezoneDetect.js"></script>
    <script src="/Scripts/Application/Factories/ValidationApi.js"></script>
    <script src="/Scripts/Application/Factories/WebApi.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/BlackListModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/CommonMessageModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/ContactModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentManagerModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentPointManagerManuallyModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentPointManagerPeriodModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/GroupModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/SendMessageQueueModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/SignatureModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/SMS_SettingModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/TradeDetailModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/UploadedMessageReceiverModel.js"></script>
    <script src="/Scripts/Application/Runs/Template/columnEditor.js"></script>
    <script src="/Scripts/Application/Runs/Template/editRow.js"></script>
    <script src="/Scripts/Application/Runs/Template/gridModal.js"></script>
    <script src="/Scripts/Application/Runs/Template/memberSelector.js"></script>
    <script src="/Scripts/Application/Runs/Template/sendRuleModal.js"></script>
    <script src="/Scripts/Application/Runs/Template/sendTime.js"></script>
    <script src="/Scripts/Application/Runs/Configs/HttpHeader.js"></script>
    <script src="/Scripts/Application/Controllers/Common/ColumnEditorCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/FileUploadCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/FormModalCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/GridModalCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/MemberSelectorCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/SendRuleModalCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/SendTimeModalCtrl.js"></script>


    <script src="/Scripts/Application/Controllers/ContactManager/AllContact.js"></script>
    <script src="/Scripts/Application/Controllers/ContactManager/Blacklist.js"></script>
    <script src="/Scripts/Application/Controllers/ContactManager/CommonContact.js"></script>
    <script src="/Scripts/Application/Controllers/ContactManager/ContactGroup.js"></script>
    <script src="/Scripts/Application/Controllers/ContactManager/ContactManager.js"></script>
    <script src="/Scripts/Application/Controllers/ContactManager/ShareContact.js"></script>


    <script>
        angular.bootstrap(document, ['app']);
    </script>
    <script type='text/javascript' src='/Glimpse.axd?n=glimpse_insight&amp;hash=c7c5c85b'></script>
    <script type='text/javascript' src='/Glimpse.axd?n=glimpse_client&amp;hash=c7c5c85b'></script>
    <script type='text/javascript' src='/Glimpse.axd?n=glimpse_metadata&amp;hash=c7c5c85b&amp;callback=glimpse.data.initMetadata'></script>
    <script type='text/javascript' src='/Glimpse.axd?n=glimpse_request&amp;requestId=d3eba584-8f7e-4645-9587-46464792376a&amp;hash=c7c5c85b&amp;callback=glimpse.data.initData'></script>
</body>
</html>
