


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <meta name="KeyWords" content="資餘科技,簡訊發送平台">
    <meta name="description" content="資餘科技 - 簡訊發送平台">
    <title>資餘科技 - 簡訊發送平台</title>

    <link href="/Scripts/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/AngularJS-Toaster/toaster.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/angular-block-ui/dist/angular-block-ui.css" rel="stylesheet" />
    <link href="/Scripts/bower_components/angular-dialog-service/dist/dialogs.css" rel="stylesheet" />
    <link href="/Content/Chips.css" rel="stylesheet" />
    <link href="/Content/spinkit.css" rel="stylesheet" />
    <link href="/Content/animate.css" rel="stylesheet" />


    <link href="/Scripts/bower_components/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <link href="/Content/in.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
</head>
<body ng-cloak>
    <toaster-container></toaster-container>


    <header>
        <table width="1115" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <a href="/Home"><img class="logo"></a>
                    </td>
                    <td width="500" align="right" valign="bottom">


                        <form action="/Account/LogOff" class="navbar-right" id="logoutForm" method="post">
                            <input name="__RequestVerificationToken" type="hidden" value="iwfOFVxQcHKa-eMibfc3sG4GrkWbsw9pywS0yD3jAfXKeOxcqGJFPE-50YnpobthYdmLoDNJvWPXhA2ovx5LFhRV-d6xXWSHvyxDMTRr1RgtrZm9SeLXJ3ruOx4I6ITTk9R-4lRRLn3mF_gfYw1dWQ2" />    <span class="font-red">Hi Administrator</span>
                            <span>點數：</span>
                            <span class="font-red" id="SmsBalance">999999999996.0</span>
                            <span> </span>
                            <a href="javascript:window.open('http://www.google.com', '_blank')">(儲值)</a>
                            <span> </span>
                            <a href="javascript:window.open('http://www.google.com', '_blank')" class="a">我要儲值</a>
                            <span> | </span>
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="a">登出</a>
                        </form>
                </tr>
            </tbody>
        </table>
    </header>





    <table width="1115" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td height="80" class="menu-bg">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="padding-top:20px; padding-left:20px">
                                    <a href="/SendMessage" class="menu-active">簡訊發送</a>
                                    <a href="/SendParamMessage" class="menu">參數簡訊發送</a>
                                    <a href="/SearchMemberSend" class="menu">發送查詢</a>
                                    <a href="/ContactManager" class="menu">聯絡人管理</a>
                                    <a href="/SMS_Setting" class="menu">系統設定</a>
                                    <a href="/RecurringSMS" class="menu">預約/週期簡訊維護</a>
                                    <a href="/DepartmentManager" class="menu">子帳號管理</a>
                                    <a href="/DepartmentPointManager" class="menu">子帳號點數管理</a>
                                    <a href="/SectorStatistics" class="menu">報表管理</a>


                                </td>
                                <td width="115" align="center"><a href="#" class="font-black">其他功能</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container body-content">


        <style>
                    .box-content-top1 [class*="col-xs-"],
                    .box-content-top1 [class*="col-sm-"],
                    .box-content-top1 [class*="col-md-"],
                    .box-content-top1 [class*="col-lg-"] {
                        padding-right: 0px;
                    }

                    #SendBody::-webkit-input-placeholder::before {
                        color: #666;
                        content: '輸入簡訊內容\A \A 　說明：\A 　１．支援『長簡訊』之發送，每則簡訊字數最多可\A 　　　達333（中文）字。\A 　２．超過333字仍可發送，系統將自動進行拆則。\A 　３．為使簡訊內容正常呈現於手機中，請勿在簡訊\A 　　　內容中填入~ ` ^ { } [ ] | < >等特殊符號';
                    }

                    /* 手動輸入說明 */
                    /*
            #ManualInput::-webkit-input-placeholder::before {
                color:#666;
                content: '手動輸入說明\A \A 　說明：\A 　１．請直接於將收訊人手機號碼輸入於下方輸入欄位中。\A 　２．亦可將Excel中同一欄位資料複製貼入於網頁手機號碼輸入欄位中。\A 　３．台灣地區號碼輸入範例：0912345678\A 　４．國際地區(含大陸地區)：+886912345678。\A 　５．多筆請以逗點","分隔：0912345678,0912345679,.........\A';
            }
            */

                    /* 收訊人設定 tabs 圖案 */
                    .RecipientFromType > .nav > li > a {
                        padding: 0px;
                    }

                    /* 插入內容 */
                    .InsertWord li:hover {
                        color: #930;
                        background-color: #FFC;
                    }
        </style>

        <div ng-controller="SendMessage" class="pl-10">
            <div class="row">
                <div class="fl">
                    <div class="box-heading-top1"></div>
                    <div class="box-content-top1">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">簡訊類別描述</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           placeholder="發送紀錄查詢時參考用，可不填"
                                           class="form-control"
                                           ng-model="SendMessageRule.SendTitle" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">發送內容</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                              cols="50"
                                              rows="9"
                                              placeholder="."
                                              id="SendBody"
                                              style="overflow:auto;height:100%; width:98%; max-width:98%; max-height:100%" border="0"
                                              ng-change="checkSendBody()"
                                              ng-model="SendMessageRule.SendBody"></textarea>
                                    <div class="clearfix">
                                        <div class="pull-right pt-10 pr-20">
                                            一共輸入了
                                            <span class="font-red">{{SendMessageRule.MessageLength}}</span>
                                            個字，需要
                                            <span class="font-red">{{SendMessageRule.MessageNum}}</span>
                                            則、
                                            <span class="font-red">{{SendMessageRule.MessageCost}}</span>
                                            點
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="add-to-commonmessage" ng-click="CommonMessageManager.save(SendMessageRule.SendTitle, SendMessageRule.SendBody)"></button>
                                </div>
                            </div>

                            <hr />

                            <div class="form-group">
                                <label for="SendTitle" class="col-sm-2 control-label">
                                    插入內容
                                </label>
                                <div class="col-sm-10">
                                    <button class="commonmessage-manager" ng-click="SignatureManager.visible=false; CommonMessageManager.show()"></button>
                                    <button class="signature-manager" ng-click="CommonMessageManager.visible=false; SignatureManager.show()"></button>
                                </div>
                            </div>

                            <div class="form-group InsertWord">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div collapse="!CommonMessageManager.visible">
                                        <div>
                                            <div ng-show="!CommonMessageManager.dataResult.length">查無資料</div>
                                            <ul style="max-height: 80px; height: 80px; overflow: auto;">
                                                <li ng-repeat="commonMessage in CommonMessageManager.dataResult"
                                                    ng-click="SendMessageRule.SendBody = SendMessageRule.SendBody + commonMessage.Content; checkSendBody();"
                                                    popover-animation="true"
                                                    popover-placement="top"
                                                    popover="{{commonMessage.Content}}"
                                                    popover-trigger="mouseenter">{{commonMessage.Subject}}</li>
                                            </ul>
                                            <div class="btn-group">
                                                <button class="btn btn-primary" ng-click="CommonMessageManager.editCommonMessages()">編輯常用簡訊</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div collapse="!SignatureManager.visible">
                                        <div>
                                            <div ng-show="!SignatureManager.dataResult.length">查無資料</div>
                                            <ul style="max-height: 80px; height: 80px; overflow: auto;">
                                                <li ng-repeat="signature in SignatureManager.dataResult"
                                                    ng-click="SendMessageRule.SendBody = SendMessageRule.SendBody + signature.Content; checkSendBody();"
                                                    popover-animation="true"
                                                    popover-placement="top"
                                                    popover="{{signature.Content}}"
                                                    popover-trigger="mouseenter">{{signature.Subject}}</li>
                                            </ul>
                                            <div class="btn-group">
                                                <button class="btn btn-primary" ng-click="SignatureManager.editSignatures()">編輯簽名檔</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="fl">
                    <div class="box-heading-top2"></div>
                    <div class="box-content-top2">
                        <tabset justified="false" ng-class="{RecipientFromType: true}">
                            <tab heading="載入大量名單" ng-click="onSelect(RecipientFromTypeOptions.FileUpload)">
                                <tab-heading><img class="RecipientFromType0" /></tab-heading>
                                <div class="container-fluid pt-20">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div ng-class="!uploading ? 'fileUpload' : 'fileUploading'" onclick="angular.element(this).scope().FileUploadManager.selectFile()" class="fileUpload"></div>
                                            <input type="file" class="hide" onchange="angular.element(this).scope().FileUploadManager.uploadFile()">
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <a href="/Download/一般大量發送範例檔.xlsx"><span style="color: Red; font-weight: 900; font-size:14pt;text-decoration:none">下載一般大量發送範例檔</span></a>
                                            </div>
                                            <div>
                                                <span style="font-size:13pt;">範例檔編輯完成直接上傳</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row animate-show" collapse="FileUploadManager.uploadedMessageReceiverListResult == null">
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <h3 class="panel-title pull-left">
                                                    上傳結果
                                                </h3>
                                                <div class="clearfix">
                                                    <div class="pull-right">
                                                        <div class="btn-group">
                                                            <button class="btn btn-primary" ng-click="FileUploadManager.editValidList()">編輯</button>
                                                            <button class="btn btn-danger" ng-click="FileUploadManager.cancel()">取消</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        已上傳完成
                                                        <strong>{{FileUploadManager.uploadedMessageReceiverListResult.FileName}}</strong>
                                                    </li>
                                                    <li>
                                                        有效名單：
                                                        <span><a ng-click="FileUploadManager.editValidList()">{{FileUploadManager.uploadedMessageReceiverListResult.ValidCount}}</a></span>
                                                        筆
                                                    </li>
                                                    <li>
                                                        無效名單：
                                                        <span><a ng-click="FileUploadManager.editInvalidList()">{{FileUploadManager.uploadedMessageReceiverListResult.InvalidCount}}</a></span>
                                                        筆
                                                    </li>
                                                    <li>
                                                        <label style="font-weight: normal; margin-bottom: 0px;"><input type="checkbox" style="bottom:3px;" class="mr-10" ng-model="FileUploadManager.AddSelfToMessageReceiverList">把自己加入本次發送名單中</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-20">
                                    <p class="font-h1"><span class="font-h2">【範例檔編輯說明】</span></p>
                                    <ol>
                                        <li>請先下載一般大量發送範例檔，將欲發送之相關資料填具於一般大量發送範例檔之各相對欄位中。</li>
                                        <li> Excel檔製作完成，欲儲存檔案時，請選擇Excel2003版本以上之（".xlsx"）檔案類型儲存之。</li>
                                        <li> 範例檔第一列的四個資料欄位（姓名/手機門號/電子郵件/傳送日期）為固定欄位，請勿任意更動其順序或刪除。</li>
                                        <li> 匯入一般大量發送範例檔時本系統只讀取第一分頁(發送清單)中之發送資料，不會選取分頁(發送範例檔)之資料。<br>
                                    </ol>
                                    <span class="font-red">【注意】大量簡訊發送前請詳讀服務條款下載及操作說明下載。</span>
                                </div>
                            </tab>
                            <tab heading="常用聯絡人" ng-click="onSelect(RecipientFromTypeOptions.CommonContact)">
                                <tab-heading><img class="RecipientFromType1" /></tab-heading>
                                <div>
                                    <div class="search-area">
                                        <div class="input-group add-on">
                                            <input type="text" class="form-control" ng-model="CommonContactManager.searchText" placeholder="關鍵字搜尋" />
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" ng-click="CommonContactManager.search()"><i class="glyphicon glyphicon-search"></i></button>
                                                <button class="btn btn-info" ng-click="CommonContactManager.editRow(null)">新增</button>
                                                <button class="btn btn-danger" ng-click="CommonContactManager.selectColumns()">檢視</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid"
                                         ui-grid="CommonContactManager.gridOptions"
                                         ui-grid-selection
                                         ui-grid-pagination
                                         ui-grid-resize-columns
                                         ui-grid-move-columns
                                         ui-grid-pinning
                                         ui-grid-exporter
                                         ui-grid-auto-resize>
                                        <div class="watermark" ng-show="!CommonContactManager.gridOptions.data.length">查無資料</div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="由群組選取" ng-click="onSelect(RecipientFromTypeOptions.GroupContact)">
                                <tab-heading><img class="RecipientFromType2" /></tab-heading>
                                <div>
                                    <tabset justified="false" style="min-height:175px;">
                                        <tab heading="自設">
                                            <div class="pt-20">
                                                <div ng-show="!ContactOfGroupManager.GroupManager.dataResult.length">查無資料</div>
                                                <chips id="GroupManagerChips" ng-model="ContactOfGroupManager.GroupManager.dataResult" multi-select="true" chip-select-change="ContactOfGroupManager.GroupManager.chipSelectChange(selectedItems)">
                                                    <chip-content>
                                                        <span>
                                                            <strong>{{$chip.Name}}</strong>
                                                        </span>
                                                    </chip-content>
                                                </chips>
                                            </div>
                                        </tab>
                                        <tab heading="分享">
                                            <div class="pt-20">
                                                <div ng-show="!ContactOfGroupManager.SharedGroupManager.dataResult.length">查無資料</div>
                                                <chips id="SharedGroupManagerChips" ng-model="ContactOfGroupManager.SharedGroupManager.dataResult" multi-select="true" chip-select-change="ContactOfGroupManager.SharedGroupManager.chipSelectChange(selectedItems)">
                                                    <chip-content>
                                                        <span>
                                                            <strong>{{$chip.Group.Name}}</strong>
                                                        </span>
                                                    </chip-content>
                                                </chips>
                                            </div>
                                        </tab>
                                    </tabset>
                                    <div collapse="ContactOfGroupManager.SharedContactManager.gridOptions.data.length == 0 && SharedContactManager.searchText.length == 0">
                                        <div class="search-area">
                                            <div class="input-group add-on">
                                                <input type="text" class="form-control" ng-model="ContactOfGroupManager.SharedContactManager.searchText" placeholder="關鍵字搜尋" />
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" ng-click="ContactOfGroupManager.SharedContactManager.search()"><i class="glyphicon glyphicon-search"></i></button>
                                                    <button class="btn btn-info" ng-click="ContactOfGroupManager.SharedContactManager.editRow(null)">新增</button>
                                                    <button class="btn btn-danger" ng-click="ContactOfGroupManager.SharedContactManager.selectColumns()">檢視</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid"
                                             ui-grid="ContactOfGroupManager.SharedContactManager.gridOptions"
                                             ui-grid-selection
                                             ui-grid-pagination
                                             ui-grid-resize-columns
                                             ui-grid-move-columns
                                             ui-grid-pinning
                                             ui-grid-exporter
                                             ui-grid-auto-resize>
                                            <div class="watermark" ng-show="!ContactOfGroupManager.SharedContactManager.gridOptions.data.length">查無資料</div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="手動輸入" ng-click="onSelect(RecipientFromTypeOptions.ManualInput)">
                                <tab-heading><img class="RecipientFromType3" /></tab-heading>
                                <div class="pt-20">
                                    <textarea cols="50"
                                              rows="9"
                                              placeholder="."
                                              id="ManualInput"
                                              style="overflow:auto;height:100%; width:98%; max-width:98%; max-height:100%" border="0"
                                              ng-change="ManualInputManager.checkManualInput()"
                                              ng-model="ManualInputManager.manualInput"></textarea>
                                    <div class="clearfix">
                                        <div class="pull-right pt-10 pr-20">
                                            共
                                            <span class="font-red">{{ManualInputManager.phoneNumbers.length}}</span>
                                            筆
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="font-h1"><span class="font-h2">【手動輸入說明】</span></p>
                                    <ol>
                                        <li> 請直接於將收訊人手機號碼輸入於下方輸入欄位中。</li>
                                        <li> 亦可將Excel中同一欄位資料複製貼入於網頁手機號碼輸入欄位中。</li>
                                        <li>
                                            <span>台灣地區號碼輸入範例：0912345678。</span>
                                            <br />
                                            <span>國際地區(含大陸地區)：+8612345678。</span>
                                        </li>
                                        <li> 多筆請以逗點","分隔：0912345678,0912345679,.........<br>
                                    </ol>
                                </div>
                            </tab>
                        </tabset>

                        <hr />

                        <div class="clearfix">
                            <div class="pull-right">
                                <button class="btn_next" ng-click="editSendTime()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer style="margin-top:30px;">
            <table width="1117" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="22"><img class="box3_left" /></td>
                    <td bgcolor="#eaeaea">
                        <table width="93%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="135"><img class="logo_down" alt="" /></td>
                                <td>
                                    專屬簡訊儲值帳號<br />
                                    808玉山銀行台北分行<br />
                                    轉入帳號：9900123412341234
                                    <a href="#" class="font-h2">如何使用專屬簡訊儲值帳號</a>
                                </td>
                                <td width="470">
                                    市內客服電話請撥：0800-618688 ∣ 手機客服電話請撥 02-8913-1559轉166<br />
                                    新北市新店區北新路三段207-3號11樓(台北矽谷大樓)<br />
                                    Copyright c 2015 餘資科技股份有限公司版權所有，轉載必究
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="28"><img class="box3_right" /></td>
                </tr>
            </table>
        </footer>
    </div>

    <script src="/Scripts/bower_components/jquery-legacy/dist/jquery.js"></script>
    <script src="/Scripts/bower_components/underscore/underscore.js"></script>
    <script src="/Scripts/bower_components/moment/moment.js"></script>
    <script src="/Scripts/bower_components/moment-timezone/builds/moment-timezone-with-data.js"></script>
    <script src="/Scripts/bower_components/angular/angular.js"></script>
    <script src="/Scripts/bower_components/angular-i18n/angular-locale_zh-tw.js"></script>
    <script src="/Scripts/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/Scripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/Scripts/bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="/Scripts/bower_components/angular-underscore/angular-underscore.js"></script>
    <script src="/Scripts/bower_components/tv4/tv4.js"></script>
    <script src="/Scripts/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/Scripts/bower_components/objectpath/lib/ObjectPath.js"></script>
    <script src="/Scripts/bower_components/angular-schema-form/dist/schema-form.js"></script>
    <script src="/Scripts/bower_components/angular-schema-form/dist/bootstrap-decorator.js"></script>
    <script src="/Scripts/bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="/Scripts/bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="/Scripts/bower_components/angular-translate/angular-translate.js"></script>
    <script src="/Scripts/bower_components/angular-dialog-service/dist/dialogs-default-translations.js"></script>
    <script src="/Scripts/bower_components/angular-dialog-service/dist/dialogs.js"></script>
    <script src="/Scripts/Application/app.js"></script>
    <script src="/Scripts/Application/Constants/Converter.js"></script>
    <script src="/Scripts/Application/Constants/Enum.js"></script>
    <script src="/Scripts/Application/Configs/configBlockUI.js"></script>
    <script src="/Scripts/Application/Configs/configDialogs.js"></script>
    <script src="/Scripts/Application/Filters/EnumFilter.js"></script>
    <script src="/Scripts/Application/Filters/SelectedMembersFilter.js"></script>
    <script src="/Scripts/Application/Filters/UtcToLocalTimeFilter.js"></script>
    <script src="/Scripts/Application/Directives/Chips.js"></script>
    <script src="/Scripts/Application/Services/CommonContactManager.js"></script>
    <script src="/Scripts/Application/Services/CommonMessageManager.js"></script>
    <script src="/Scripts/Application/Services/CompanyDeaprtmentManager.js"></script>
    <script src="/Scripts/Application/Services/ContactOfGroupManager.js"></script>
    <script src="/Scripts/Application/Services/CurrentUserManager.js"></script>
    <script src="/Scripts/Application/Services/FileUploadManager.js"></script>
    <script src="/Scripts/Application/Services/ManualInputManager.js"></script>
    <script src="/Scripts/Application/Services/MemberSendMessageHistoryManager.js"></script>
    <script src="/Scripts/Application/Services/MemberSendMessageStatisticManager.js"></script>
    <script src="/Scripts/Application/Services/SectorSendMessageHistoryManager.js"></script>
    <script src="/Scripts/Application/Services/SectorSendMessageStatisticManager.js"></script>
    <script src="/Scripts/Application/Services/SendMessageHistoryManager.js"></script>
    <script src="/Scripts/Application/Services/SignatureManager.js"></script>
    <script src="/Scripts/Application/Factories/CrudApi.js"></script>
    <script src="/Scripts/Application/Factories/DateUtil.js"></script>
    <script src="/Scripts/Application/Factories/FileManagerApi.js"></script>
    <script src="/Scripts/Application/Factories/GlobalSettings.js"></script>
    <script src="/Scripts/Application/Factories/LookupApi.js"></script>
    <script src="/Scripts/Application/Factories/MessageCostInfo.js"></script>
    <script src="/Scripts/Application/Factories/NumberUtil.js"></script>
    <script src="/Scripts/Application/Factories/RegularExpressionHelper.js"></script>
    <script src="/Scripts/Application/Factories/SchemaFormCache.js"></script>
    <script src="/Scripts/Application/Factories/SchemaFormFactory.js"></script>
    <script src="/Scripts/Application/Factories/SchemaFormHelper.js"></script>
    <script src="/Scripts/Application/Factories/SelectUtil.js"></script>
    <script src="/Scripts/Application/Factories/TimezoneDetect.js"></script>
    <script src="/Scripts/Application/Factories/ValidationApi.js"></script>
    <script src="/Scripts/Application/Factories/WebApi.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/BlackListModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/CommonMessageModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/ContactModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentManagerModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentPointManagerManuallyModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentPointManagerPeriodModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/GroupModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/SendMessageQueueModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/SignatureModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/SMS_SettingModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/TradeDetailModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/UploadedMessageReceiverModel.js"></script>
    <script src="/Scripts/Application/Runs/Template/columnEditor.js"></script>
    <script src="/Scripts/Application/Runs/Template/editRow.js"></script>
    <script src="/Scripts/Application/Runs/Template/gridModal.js"></script>
    <script src="/Scripts/Application/Runs/Template/memberSelector.js"></script>
    <script src="/Scripts/Application/Runs/Template/sendRuleModal.js"></script>
    <script src="/Scripts/Application/Runs/Template/sendTime.js"></script>
    <script src="/Scripts/Application/Runs/Configs/HttpHeader.js"></script>
    <script src="/Scripts/Application/Controllers/Common/ColumnEditorCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/FileUploadCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/FormModalCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/GridModalCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/MemberSelectorCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/SendRuleModalCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/SendTimeModalCtrl.js"></script>


    <script src="/Scripts/Application/Controllers/SendMessage/SendMessage.js"></script>


    <script>
        angular.bootstrap(document, ['app']);
    </script>
    <script type='text/javascript' src='/Glimpse.axd?n=glimpse_insight&amp;hash=c7c5c85b'></script>
    <script type='text/javascript' src='/Glimpse.axd?n=glimpse_client&amp;hash=c7c5c85b'></script>
    <script type='text/javascript' src='/Glimpse.axd?n=glimpse_metadata&amp;hash=c7c5c85b&amp;callback=glimpse.data.initMetadata'></script>
    <script type='text/javascript' src='/Glimpse.axd?n=glimpse_request&amp;requestId=569043e4-8f83-4c25-b633-9f0400af1ca5&amp;hash=c7c5c85b&amp;callback=glimpse.data.initData'></script>
</body>
</html>
