<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="KeyWords" content="資餘科技,簡訊發送平台">
    <meta name="description" content="資餘科技 - 簡訊發送平台">
    <title>資餘科技 - 簡訊發送平台</title>
    <link rel="shortcut icon" href="/favicon.ico?v=3" type="image/x-icon" />
    <link href="/Scripts/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="/Scripts/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="/Scripts/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/Scripts/bower_components/AngularJS-Toaster/toaster.css" rel="stylesheet"/>
    <link href="/Scripts/bower_components/angular-material/angular-material.css" rel="stylesheet"/>
    <link href="/Scripts/bower_components/angular-block-ui/dist/angular-block-ui.css" rel="stylesheet"/>
    <link href="/Scripts/bower_components/angular-dialog-service/dist/dialogs.css" rel="stylesheet"/>
    <link href="/Content/spinkit.css" rel="stylesheet"/>
    <link href="/Content/animate.css" rel="stylesheet"/>
    <link href="/Scripts/bower_components/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
    <link href="/Content/in.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
</head>
<body ng-cloak>
    <div class="container body-content">
       
    <div ng-controller="ContactManager">
        <tabset justified="false" ng-cloak>
            <tab heading="所有聯絡人" ng-click="onSelect('AllContact')">
                <tab-heading><div><img class="icon_chat absmiddle" />所有聯絡人</div></tab-heading>
                <!--<iframe src="http://www.w3schools.com" style="width:100%; min-height:500px"></iframe>-->
                <iframe src="http://www.w3schools.com" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
            </tab>
            <tab heading="常用聯絡人" ng-click="onSelect('CommonContact')">
                <tab-heading><div><img class="star absmiddle" />常用聯絡人</div></tab-heading>
                <iframe src="./ContactManager.html" style="width:100%; min-height:1000px"></iframe>
            </tab>
        </tabset>
    </div>

    </div>

    <script src="/Scripts/bower_components/jquery-legacy/dist/jquery.js"></script>
    <script src="/Scripts/bower_components/underscore/underscore.js"></script>
    <script src="/Scripts/bower_components/moment/moment.js"></script>
    <script src="/Scripts/bower_components/moment-timezone/builds/moment-timezone-with-data.js"></script>
    <script src="/Scripts/bower_components/angular/angular.js"></script>
    <script src="/Scripts/bower_components/angular-i18n/angular-locale_zh-tw.js"></script>
    <script src="/Scripts/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/Scripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/Scripts/bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="/Scripts/bower_components/angular-underscore/angular-underscore.js"></script>
    <script src="/Scripts/bower_components/tv4/tv4.js"></script>
    <script src="/Scripts/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/Scripts/bower_components/objectpath/lib/ObjectPath.js"></script>
    <script src="/Scripts/bower_components/angular-schema-form/dist/schema-form.js"></script>
    <script src="/Scripts/bower_components/angular-schema-form/dist/bootstrap-decorator.js"></script>
    <script src="/Scripts/bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="/Scripts/bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="/Scripts/bower_components/angular-translate/angular-translate.js"></script>
    <script src="/Scripts/bower_components/angular-dialog-service/dist/dialogs-default-translations.js"></script>
    <script src="/Scripts/bower_components/angular-dialog-service/dist/dialogs.js"></script>
    <script src="/Scripts/Application/app.js"></script>
    <script src="/Scripts/Application/Constants/Converter.js"></script>
    <script src="/Scripts/Application/Constants/Enum.js"></script>
    <script src="/Scripts/Application/Constants/PhoneAreaCode.js"></script>
    <script src="/Scripts/Application/Configs/configBlockUI.js"></script>
    <script src="/Scripts/Application/Configs/configDialogs.js"></script>
    <script src="/Scripts/Application/Filters/EnumFilter.js"></script>
    <script src="/Scripts/Application/Filters/SelectedMembersFilter.js"></script>
    <script src="/Scripts/Application/Filters/UtcToLocalTimeFilter.js"></script>
    <script src="/Scripts/Application/Directives/Chips.js"></script>
    <script src="/Scripts/Application/Services/CommonContactManager.js"></script>
    <script src="/Scripts/Application/Services/CommonMessageManager.js"></script>
    <script src="/Scripts/Application/Services/CompanyDeaprtmentManager.js"></script>
    <script src="/Scripts/Application/Services/ContactOfGroupManager.js"></script>
    <script src="/Scripts/Application/Services/CurrentUserManager.js"></script>
    <script src="/Scripts/Application/Services/FileUploadManager.js"></script>
    <script src="/Scripts/Application/Services/ManualInputManager.js"></script>
    <script src="/Scripts/Application/Services/MemberSendMessageHistoryManager.js"></script>
    <script src="/Scripts/Application/Services/MemberSendMessageStatisticManager.js"></script>
    <script src="/Scripts/Application/Services/SectorSendMessageHistoryManager.js"></script>
    <script src="/Scripts/Application/Services/SectorSendMessageStatisticManager.js"></script>
    <script src="/Scripts/Application/Services/SendMessageHistoryManager.js"></script>
    <script src="/Scripts/Application/Services/SignatureManager.js"></script>
    <script src="/Scripts/Application/Factories/CrudApi.js"></script>
    <script src="/Scripts/Application/Factories/DateUtil.js"></script>
    <script src="/Scripts/Application/Factories/FileManagerApi.js"></script>
    <script src="/Scripts/Application/Factories/GlobalSettings.js"></script>
    <script src="/Scripts/Application/Factories/LookupApi.js"></script>
    <script src="/Scripts/Application/Factories/MessageCostInfo.js"></script>
    <script src="/Scripts/Application/Factories/NumberUtil.js"></script>
    <script src="/Scripts/Application/Factories/RegularExpressionHelper.js"></script>
    <script src="/Scripts/Application/Factories/SchemaFormCache.js"></script>
    <script src="/Scripts/Application/Factories/SchemaFormFactory.js"></script>
    <script src="/Scripts/Application/Factories/SchemaFormHelper.js"></script>
    <script src="/Scripts/Application/Factories/SelectUtil.js"></script>
    <script src="/Scripts/Application/Factories/TimezoneDetect.js"></script>
    <script src="/Scripts/Application/Factories/ValidationApi.js"></script>
    <script src="/Scripts/Application/Factories/WebApi.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/BlackListModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/CommonMessageModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/ContactModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentManagerModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentPointManagerManuallyModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/DepartmentPointManagerPeriodModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/GroupModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/SendMessageQueueModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/SignatureModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/SMS_SettingModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/TradeDetailModel.js"></script>
    <script src="/Scripts/Application/Runs/SchemaForm/UploadedMessageReceiverModel.js"></script>
    <script src="/Scripts/Application/Runs/Template/columnEditor.js"></script>
    <script src="/Scripts/Application/Runs/Template/editRow.js"></script>
    <script src="/Scripts/Application/Runs/Template/gridModal.js"></script>
    <script src="/Scripts/Application/Runs/Template/memberSelector.js"></script>
    <script src="/Scripts/Application/Runs/Template/sendRuleModal.js"></script>
    <script src="/Scripts/Application/Runs/Template/sendTime.js"></script>
    <script src="/Scripts/Application/Runs/Configs/HttpHeader.js"></script>
    <script src="/Scripts/Application/Controllers/Common/ColumnEditorCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/FileUploadCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/FormModalCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/GridModalCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/MemberSelectorCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/SendRuleModalCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/Common/SendTimeModalCtrl.js"></script>
    <script src="/Scripts/Application/Controllers/ContactManager/AllContact.js"></script>
    <script src="/Scripts/Application/Controllers/ContactManager/Blacklist.js"></script>
    <script src="/Scripts/Application/Controllers/ContactManager/CommonContact.js"></script>
    <script src="/Scripts/Application/Controllers/ContactManager/ContactGroup.js"></script>
    <script src="/Scripts/Application/Controllers/ContactManager/ContactManager.js"></script>
    <script src="/Scripts/Application/Controllers/ContactManager/ShareContact.js"></script>
    <script>
        angular.bootstrap(document, ['app']);
    </script>
</body>
</html>

